---
layout: home
---

<header>
	{% include header.html %}
</header>

<!-- ABOUT -->

<div id="about1">
	<div class="container">

		<div class="box col-md-offset-2 col-md-8">
			<div class="row">
				<div class="grey-box col-md-offset-1 col-md-4">
				</div>
				<div class="description col-md-6">
					<h1>I'm <strong>Robert Smith</strong></h1>
					<p>Dveloper &amp; Businessman</p>
					<hr>

					<p class="field col-md-3">AGE</p>
					<p class="info col-md-9">29</p>
					<p class="field col-md-3">ADDRESS</p>
					<p class="info col-md-9">24058, Belgium Brussels, Liutte27, BE</p>
					<p class="field col-md-3">E-MAIL</p>
					<p class="info col-md-9">robertsmith@company.com</p>
					<p class="field col-md-3">PHONE</p>
					<p class="info col-md-9">+1 256 254 8456</p>
					<p class="field col-md-3">FREELANCE</p>
					<p class="info col-md-9">Available</p>
					<p class="vacation col-md-3">On vacation</p>
					<p class="info col-md-9"><i class="glyphicon glyphicon-calendar"></i> till April 15, 2016</p>

				</div>
			</div>
		</div>

		<div class="green-box col-md-offset-2 col-md-8"> 
			<div class="icons">
				<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div> 
		</div>

	</div>
</div>


<div id="about2">
	<div class="container"></div>

	<div class="row full-resume">
		<a href='#' class="button col-md-2 col-md-offset-5">DOWNLOAD RESUME</a>
		<br>

		<div class="row resume col-md-6 col-md-offset-3"><p>Hello! I'm Robert Smith, Senior Web Developer specializing in front end development.<br>Experienced with all stages of the development cycle for dynamic web projects. Well versed in numerous programming languages including JavaScript, SQL and C. Strong background in project management and customer relations.</p>
		</div>
	</div>

</div>

<!-- SKILLS -->

<div id="skills">
	<div class="container">  
		<div class="col-md-offset-2 col-md-8">
			<h1>Professional Skills</h1>
			<div class="skill-box">

				<div class="manybars">
					<div class="col-md-6 single-skill">
						<p>Wordpress <span class="pull-right">80%</span></p>
						
						<progress max="100" value="80" class="progress-bar bar-style"></progress>
					</div>

					<div class="col-md-6 single-skill">
						<p>Javascript <span class="pull-right">52%</span></p>
						<progress max="100" value="52" class="progress-bar bar-style">></progress>
					</div>

					<div class="col-md-6 single-skill">
						<p>Drupal <span class="pull-right">61%</span></p>
						<progress max="100" value="61" class="progress-bar bar-style">></progress>
					</div>

					<div class="col-md-6 single-skill">
						<p>HTML &amp; CSS <span class="pull-right">89%</span></p>
						<progress max="100" value="89" class="progress-bar bar-style">></progress>
					</div>


					<div class="col-md-6 single-skill">
						<p>PHP &amp; mySQL <span class="pull-right">99%</span></p>
						<progress max="100" value="99" class="progress-bar bar-style">></progress>
					</div>


					<div class="col-md-6 single-skill">
						<p>Photoshop <span class="pull-right">97%</span></p>
						<progress max="100" value="97" class="progress-bar bar-style">></progress>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- PORTFOLIO -->
<div id="portfolio">
	<div class="container">
		<h1>Portfolio</h1>

		<div class="col-md-5 col-md-offset-2">
			<div class="big-project">
				<div class="description-2">
					<h3>Hovered Ipsum Project</h3>
					<p>DESIGN</p>
					<a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-eye" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="small-project">
				</div>
				<div class="small-project">
				</div>
			</div>
		</div>
		<div class="row">
			<a href='#' class="button">+</a>

		</div>
	</div>
</div>


<!-- WORK EXPERIENCE -->
<div id="work-experience">
	<div class="container">
		<h1>Work Experience</h1>

		<ul class="timeline">

			<li>
				<div class="timeline-badge"></div>
				<div class="timeline-panel col-md-offset-2 col-md-2">
					<div class="green-bar container-fluid"></div>
					<div class="timeline-heading">
						<h5>2014-2016</h5>
						<h4 class="timeline-title">PINEAPPLE</h4>
						<h6>FULL STACK DEVELOPER</h6>
					</div>
					<div class="timeline-body">
						<p>Worked as a part of a multi-disciplinary team, carrying out ad-hocs taska as required by the IT Manager. Had a specific brief to ensure the websites build for customer's precisely matched their requirements.developers and marketers</p>
					</div>
				</div>
			</li>

			<li class="timeline-inverted macroosoft">
				<div class="timeline-badge warning"></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<div class="timeline-heading">
							<h5>2011-2014</h5>
							<h4 class="timeline-title">MACROSOOFT</h4>
							<h6>WEB DEVELOPER</h6>
						</div>
					</div>
					<div class="timeline-body">
						<p>Was responsible for working on a range of projects, designingnapllealing websites and interacting on a daily basis with graphic designers, back-end developers and marketers.</p>
					</div>
				</div>
			</li>

			<li class="joojle">
				<div class="timeline-badge danger"></div>
				<div class="timeline-panel col-md-offset-2 col-md-2">
					<div class="timeline-heading">
						<div class="timeline-heading">
							<h5>2003-2006</h5>
							<h4 class="timeline-title">JOOJLE</h4>
							<h6>SYSTEMS ANALYST / WEB DEVELOPER</h6>
						</div>
					</div>
					<div class="timeline-body">
						<p>Was responsible for working60n a range of projects, designingnapllealing websites and interacting on a daily basis with graphic designers, back-end developers and marketers</p>
					</div>
				</div>
			</li>

			<li class="timeline-inverted ibbbm">
				<div class="timeline-badge warning"></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<div class="timeline-heading">
							<h5>2004-2008</h5>
							<h4 class="timeline-title">IBBBM</h4>
							<h6>WEBMASTER / WEB DEVELOPER</h6>
						</div>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis.</p>
					</div>
				</div>
			</li>

			<li class="headbook">
				<div class="timeline-badge"></div>
				<div class="timeline-panel col-md-offset-2 col-md-2">
					<div class="timeline-heading">
						<h5>2003-2004</h5>
						<h4 class="timeline-title">HEADBOOK</h4>
						<h5>INTERN</h5>
					</div>
					<div class="timeline-body">
						<p>Worked as a part of a multi-disciplinary team, carrying out ad-hocs taska as required by the IT Manager. Had a specific brief to ensure the websites build for customer's precisely matched their requirements.developers and marketers</p>
					</div>
				</div>
			</li>

			<li class="timeline-inverted ubear">
				<div class="timeline-badge warning"></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<div class="timeline-heading">
							<h5>2011-2014</h5>
							<h4 class="timeline-title">UBEAR</h4>
							<h6>TAXI DRIVER</h6>
						</div>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.</p>
					</div>
				</div>
			</li>

		</ul>

	</div>
</div>

<!-- CONTACT ME -->

<div id="contact-me">
	<div class="container">
		<h1>Contact Me</h1>

		<div class="row">
			<div class="form-block one col-md-offset-2 col-md-4">
				<h2>Feel free to contact me</h2>


				<form id="contact_i" class="contact" method="post">
					<input id="name" name="name"  placeholder="NAME" type="text" /> <br>
					<input id="email" name="email" type="email" placeholder="EMAIL" /><br>
					<input id="subject" name="subject" type="subject" placeholder="SUBJECT" /><br>
					<textarea id="message" name="message" placeholder="MESSAGE" class="" ></textarea><br>
					<a href='#' class="button">Send</a>
				</form>

			</div>

			<div class="form-block two col-md-4">
				<div class="right-block">
					<div class="row">
						<div class="field col-md-3">ADDRESS</div>
						<div class="info col-md-9">Belgium, Brussels, Liutte, BE</div>
					</div>
					<div class="row">
						<div class="field col-md-3">PHONE</div>
						<div class="info col-md-9">+1256 254 84 56</div>
					</div>
					<div class="row">
						<div class="field col-md-3">EMAIL</div>
						<div class="info col-md-9">robertsmith@company.com</div>
					</div>
				</div>
				<img src="../images/map.png" class="col-md-12 container-fluid" alt="Map"> 

			</div>
		</div>

		<div class="iconss col-md-offset-2 col-md-8"> 
			<div class="icons">
				<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div> 
		</div>

	</div>


	<footer>
		{% include footer.html %}
	</footer>