<div class="header navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="nav background">
      <a href="#about1" class="logo"><span>RS</span> Card</a>
      <div class="pull-right"> 
        <a href="#about1">ABOUT</a>
        <a href="#skills">SKILLS</a>
        <a href="#portfolio">PORTFOLIO</a>
        <a href="#work-experience">EXPERIENCE</a>
        <a href="#">REFERENCES</a>
        <a href="#">BLOG</a>
        <a href="#">CALENDAR</a>
        <a href="#contact-me">CONTACT</a>
        <a href=""><i id="nav-toggler" class="fa fa-bars fa-1.5x"></i></a>
         </div>
      </div>
    </div>
  </div>
</div>